@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,500;0,800;1,500;1,800&family=Roboto:ital,wght@0,900;1,900&display=swap');

:root {
    font-size: 20px;
    --h1-size: 2rem;
    --h2-size: 1.5rem;
    --h3-size: 1.25rem;

    /* Colour palette: https://huemint.com/website-2/#palette=f7f4f3-2a2927-3d5c52-f60034 */
    --background-colour: #f7f4f3;
    --text-colour: #2a2927;
    --ally-weak-colour: #20dfbc;
    --ally-strong-colour: #3d5c52;
    --enemy-weak-colour: #f3c3bf;
    --enemy-strong-colour: #ff6b64;
    
    background-color: var(--background-colour);
    color: var(--text-colour);
    font-family: 'Alegreya Sans', sans-serif;
}

body {
    margin: auto;
    margin-top: 4rem;
    padding-bottom: 8rem;
    width: 80%;
    max-width: 800px;
}

h1,h2,h3,h2 a {
    font-family: 'Roboto', sans-serif;
    color: var(--ally-strong-colour);
    margin: 2rem 0 0;
}

a {
    color: var(--enemy-strong-colour);
    transition: 0.2s;
}
a:hover {
    color: var(--text-colour);
}
nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    div {
        border-left: solid 2px var(--text-colour);
        border-right: solid 2px var(--text-colour);
        flex-grow: 1;
        text-align: center;
        margin-left: -1px;
        margin-right: -1px;
    }

    padding: 0.5rem 1rem;
}

.display {
    border: solid;
    border-width: 8px;
    border-color: var(--text-colour);
    border-radius: 2rem;
    width: 100%;
    padding-bottom: 33%;
    margin: 1rem 0;
}