#app {
  height: 100vh;
  margin: 0;
  overflow-y: hidden;
  border: 1px;
  user-select: none;
}

#root {
  font-size: 15px;
  font-family: inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  background-color: var(--background-light);
  color: var(--text-dark);

  /* Colour palette */
  --background-light: #f8f0e5;
  --background-medium: #e6d7c3;
  --background-dark: #d4bb9f;
  --contrast-dark: #102c57;
  --contrast-light: #37649e;
  --danger: #d42646;
  --success: #50e693;
  --warning: #f7ef57;
  --info: #50c8e6;
  --text-light: hsl(30, 15%, 75%);
  --text-dark: #040b16;
}

.bounding-box {
  stroke: #d42646;
}

.titlebar {
  display: flex;
  width: 100%;
  position: relative;
  height: 2rem;
  background-color: var(--contrast-dark);
  cursor: default;
  color: var(--text-light);

  .titlebar-tab {
    display: flex;
    align-items: center;
    padding: 0.125rem 0.75rem;
    transition: 0.2s;
    user-select: none;
    z-index: 1;
  }
  .titlebar-tab:not(.filler):not(.close):hover {
    background-color: var(--contrast-light);
  }
  .titlebar-tab.close:hover {
    background-color: var(--danger);
  }
  .filler {
    flex-grow: 1;
    -webkit-app-region: drag;
  }
  .titlebar-tab-icon {
    color: var(--text-light);
  }
}

#panel-region {
  .panel {
    position: relative;
  }
  #zoom-select {
    display: inline-block;
    position: absolute;
    z-index: 1;
    right: 2.75rem;
    opacity: 50%;
  }
  #zoom-select:hover {
    opacity: 100%;
  }
  #manipulation-tools {
    display: inline-block;
    position: absolute;
    z-index: 1;
    right: 0px;
    button {
      display: block;
    }
    button:not(.selected) {
      opacity: 50%;
    }
  }
  #manipulation-tools:hover {
    opacity: 100%;
    button {
      opacity: 100%;
    }
  }

  .side-panel {
    background-color: var(--background-dark);

    .instance-list-element {
      border-bottom: solid var(--contrast-light) 1px;
      margin-bottom: 0.25rem;
      margin: 0.25rem 0.125rem;
      padding: 0.25rem;
      summary {
        margin-bottom: 0.25rem;
        overflow-wrap: normal;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .instance-list-element.selected {
      background-color: var(--contrast-light);
      color: var(--text-light);
    }
  }
  #preview-canvas {
    background-color: var(--background-light);
  }
  #asset-map {
    background-color: var(--background-medium);
  }
  .asset-card {
    display: inline-block;
    margin: 0.5rem 0.5rem;
    padding: 0.25rem;
    border: 0.25rem var(--contrast-light) solid;
    border-radius: 1rem;
    user-select: none;
  }
  .asset-card:hover {
    border-color: var(--contrast-dark);
  }
  .asset-card.adding {
    border: 0.125rem var(--contrast-dark) solid;
    margin: 0.625rem;
  }
}
