* {
  font-size: 15px;
  font-family: inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

$colour-background-light: #f8f0e5;
$colour-background-medium: #e6d7c3;
$colour-background-dark: #d4bb9f;
$colour-contrast-dark: #102c57;
$colour-contrast-light: #37649e;
$colour-danger: #d42646;
$colour-success: #50e693;
$colour-warning: #f7ef57;
$colour-info: #50c8e6;
$colour-text-light: #c9bfb6;
$colour-text-dark: #040b16;
